.content {
  margin: 2rem 10vw;
  position: relative;
}

.page-title {
  background-color: #414141;
  color: #fafafa;
  padding: 0.5rem 10vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  min-height: 40.6vh;
}

.card {
  position: relative;
  min-width: 140px;
  max-width: 22%;
  display: block;
  margin: 0 0 1rem 2rem;
}

@media screen and (max-width: 430px) {
  .grid {
    justify-content: center;
  }

  .card {
    margin-left: 0;
    max-width: 100%;
  }
}

.card--none {
  display: none;
}

.card::after {
  content: attr(data-title);
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #fafafa;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.card__img {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  background-color: #1E1E1E;
}

.card__caption {
  margin: 1rem 0;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.hidden {
  opacity: 0;
}